.navbar ul li {
  opacity: 0.70;
  filter: alpha(opacity=70);
}

.navbar ul li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar ul li a {
  background-image: url(/images/social.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.navbar ul li a#twitter {
  background-position: 0px 0px;
}
.navbar ul li a#github {
  background-position: -50px 0px;
}
.navbar ul li a#linkedin {
  background-position: -100px 0px;
}
.navbar ul li a#rss {
  background-position: -150px 0px;
}

.navbar .nav>li>a:hover {
  background-color:transparent;
  text-decoration:none;
}

.navbar .nav .active>a,.navbar .nav .active>a:hover {
  text-decoration:none
}
