// Colors
$main-color: #00affa;

$white: #fff;
$light-gray: #efefef;
$gray: #b0b0b0;
$transparent-black: rgba(0, 0, 0, .8);

// Typography
$body-font: 'Vollkorn', 'Times New Roman', 'Times', serif;

$title-font: 'Raleway', sans-serif;
$title-text-transform: uppercase;
$title-font-weight: 800;

$blog-title-font-size: .95em;

$post-font-size: 1.3em;
$post-font-line-height: 1.65em;

$post-title-line-height: 1.3em;
$post-title-align: center;

$date-font-size: 1em;
$date-font-style: normal;

$heading-font-size: 1.7em;
$heading-font-style: normal;
$heading-top-spacing: 1.5em;

$subheading-font-size: 1.1em;
$subheading-font-style: normal;
$subheading-top-spacing: 1.5em;

$subheadings-align: left;

$code-font-family: 'Monaco', 'Courier', 'Courier New', monospace;
$code-font-size: .75em;
$code-border-color: $gray;
$code-background-color: $white;

$code-block-line-height: 1.8em;

$blockquote-font-size: 1em;

// Layout

// Space above and below the header section
$header-spacing: 200px;

// Space between the date and the post
$post-content-top-space: 3em;

// Space between the post and the author/tags
$post-content-bottom-space: 2em;

// Space between posts in ems
$space-between-posts: 4;

// Author tags top and bottom spacing
$tags-spacing: 1em;

// Space before and after a <hr>
$hr-spacing: 4em;
