// Colors
$main-color: #f00;

$white: #fff;
$light-gray: #dfdfdf;
$gray: #b0b0b0;
$transparent-black: rgba(0, 0, 0, .7);

// Typography
$body-font: 'Asap', sans-serif;

$blog-title-font-size: .95em;
$blog-title-text-transform: uppercase;

$post-font-size: 1.2em;
$post-font-line-height: 1.7em;
$post-align: justify;

$post-title-font-size: 1.6em;
$post-title-font-weight: bold;
$post-title-font-style: normal;
$post-title-line-height: 1.3em;
$post-title-align: center;

$date-font-size: 1em;
$date-font-style: normal;

$heading-font-size: 1.4em;
$heading-font-weight: bold;
$heading-font-style: normal;
$heading-top-spacing: 2em;

$subheading-font-size: 1.1em;
$subheading-font-weight: bold;
$subheading-font-style: normal;
$subheading-top-spacing: 2em;

$subheadings-align: left;

$code-font-family: 'Monaco', 'Courier', 'Courier New', monospace;
$code-font-size: .75em;
$code-border-color: $gray;
$code-background-color: $white;

$code-block-line-height: 1.8em;

$blockquote-font-size: 1em;

// Layout

// Width of the content area
$content-width: 50%;

// Space above and below the header section
$header-spacing: 200px;

// Space between the date and the post
$post-content-top-space: 3em;

// Space between the post and the author/tags
$post-content-bottom-space: 2em;

// Space between posts in ems
$space-between-posts: 4;

// Author tags top and bottom spacing
$tags-spacing: 1em;

// Space before and after a <hr>
$hr-spacing: 4em;
