@import 'bourbon/bourbon';
@import 'typography';
@import 'variables';
@import 'responsive';

*::selection {
  background: $main-color;
  color: $white;
}

*::-moz-selection {
  background: $main-color;
  color: $white;
}

*::-webkit-selection {
  background: $main-color;
  color: $white;
}

body {
  border-top: $top-line-weight solid $black;
  color: $black;
  font-family: $body-font;
  font-size: $body-font-size;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 1000px) {
    font-size: 1.1em;
  }
}

em {
  font-style: italic;
}

h1 {
  font-size: $heading-font-size;
  font-style: $heading-font-style;
  font-weight: $heading-font-weight;
  margin-top: $heading-top-spacing;
  text-align: $page-title-align;
}

h2 {
  font-size: $subheading-font-size;
  font-style: $subheading-font-style;
  font-weight: $subheading-font-weight;
  margin-top: $subheading-top-spacing;
}

header {
  border-bottom: 1px solid $light-gray;
  margin: 0 auto $space-between-posts / 2 * 1em;
  padding: $header-spacing 0;
  text-align: center;
  width: $content-width;

  @media only screen and (min-width: 0px) and (max-width: 1200px) {
    width: 90%;
  }

  @media only screen and (max-width: 1200px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .title {
    font-family: $blog-title-font;
    font-size: $blog-title-font-size;
    text-transform: $blog-title-text-transform;

    a {
      color: $black;
      text-decoration: none;

      &:hover,
      &:active {
        color: $main-color;
      }
    }
  }

  .navigation {
    font-family: $navigation-font;
    font-size: $navigation-font-size;

    ul {
      list-style: none;
      margin: $navigation-top-spacing 0 0 0;
      padding: 0;

      li + li {
        border-left: 1px solid $light-gray;
      }

      li {
        @include inline-block;
        margin: 0;
        padding: 0 ($navigation-link-spacing/2 * 1em);

        a {
          color: $black;
          text-decoration: none;

          &:hover,
          &:active {
            color: $main-color;
          }
        }
      }
    }
  }
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

blockquote {
  font-size: $blockquote-font-size;
  font-style: italic;
}

article {
  font-size: $post-font-size;
  line-height: $post-font-line-height;
  margin: 0 auto $space-between-posts / 2 * 1em;
  padding: 0;
  text-align: $post-align;
  width: $content-width;

  @media only screen and (min-width: 0px) and (max-width: 1200px) {
    width: 90%;
  }

  @media only screen and (max-width: 1200px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content {
    padding-bottom: $post-content-bottom-space;
  }

  footer {
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    padding: $tags-spacing 0;
  }

  h1,
  h2,
  h3 {
    text-align: $subheadings-align;

    a {
      color: $black;

      &:hover {
        color: $main-color;
      }
    }
  }

  header {
    border: 0;
    padding: 0;

    h1 {
      font-size: $post-title-font-size;
      font-style: $post-title-font-style;
      font-weight: $post-title-font-weight;
      line-height: $post-title-line-height;
      text-align: $post-title-align;
    }

    time {
      font-size: $date-font-size;
      font-style: $date-font-style;
    }
  }

  hr {
    background-color: $light-gray;
    border: 0;
    color: $light-gray;
    height: 1px;
    margin: $hr-spacing !important;
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $light-gray;
  line-height: $code-block-line-height;
  overflow: hidden;
  padding: .5em;
  position: relative;
}

code {
  font-family: $code-font-family;
  font-size: $code-font-size;

}

p > code {
  background-color: $code-background-color;
  border: 1px solid $light-gray;
  white-space: nowrap;
}
