@import 'bourbon/bourbon';
@import 'variables';
@import 'responsive';

*::selection {
  background: $main-color;
  color: $white;
}

*::-moz-selection {
  background: $main-color;
  color: $white;
}

*::-webkit-selection {
  background: $main-color;
  color: $white;
}

body {
  color: $transparent-black;
  font-family: $body-font;
  margin: 0;
  padding: 0;
}

em {
  font-style: italic;
}

h1 {
  font-size: $heading-font-size;
  font-style: $heading-font-style;
  margin-top: $heading-top-spacing;
  text-align: $post-title-align;
}

h2 {
  font-size: $subheading-font-size;
  font-style: $subheading-font-style;
  margin-top: $subheading-top-spacing;
}

header {
  border-bottom: 1px solid $light-gray;
  font-family: $title-font;
  font-weight: $title-font-weight;
  margin: 0 auto $space-between-posts / 2 * 1em;

  .container {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 60rem;

    @media only screen and (min-width: 0px) and (max-width: 1200px) {
      max-width: 100%;
    }

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }

  .navigation {
    background-color: $transparent-black;
    color: $white;
    font-size: $blog-title-font-size;
    padding: .2em 0;
    position: absolute;
    text-transform: $title-text-transform;
    width: 100%;

    nav {
      display: inline-block;
      float: right;

      @media only screen and (max-width: 600px) {
        float: none;
      }
    }

    a {
      color: $white;
      padding-left: .5em;
      vertical-align: middle;

      &:hover,
      &:active {
        color: $main-color;
      }
    }

    .title {
      font-size: $blog-title-font-size * 1.4;
      padding-left: 0;
    }
  }
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    color: $transparent-black;
  }
}

.external {
  text-decoration: underline;
}

blockquote {
  background: $light-gray;
  border-left: 10px solid $gray;
  font-size: $blockquote-font-size;
  font-style: italic;
  margin: 1.5em 0;
  padding: .5em 10px;

  ::before {
    color: $gray;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

article {
  font-size: $post-font-size;
  line-height: $post-font-line-height;
  margin: 0 auto $space-between-posts / 2 * 1em;
  padding: 0;
  width: 40rem;

  @media only screen and (min-width: 0px) and (max-width: 1200px) {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 90%;
  }

  footer {
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    padding: $tags-spacing 0;
  }

  h1,
  h2,
  h3 {
    font-family: $title-font;
    font-weight: $title-font-weight;
    text-align: $subheadings-align;
    text-transform: $title-text-transform;

    a {
      color: $transparent-black;

      &:hover {
        color: $main-color;
      }
    }
  }

  header {
    border: 0;
    padding: 0;

    @media only screen and (max-width: 1200px) {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h1 {
      line-height: $post-title-line-height;
      text-align: $post-title-align;
    }

    time {
      font-size: $date-font-size;
      font-style: $date-font-style;
    }
  }

  hr {
    background-color: $light-gray;
    border: 0;
    color: $light-gray;
    height: 1px;
    margin: $hr-spacing !important;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

article.talk {
  margin: 0 auto .5em;

  .year {
    float: right;

    @media only screen and (min-width: 0px) and (max-width: 600px) {
      display: none;
    }
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $light-gray;
  line-height: $code-block-line-height;
  overflow: hidden;
  padding: .5em;
  position: relative;
}

code {
  font-family: $code-font-family;
  font-size: $code-font-size;
}

p > code {
  background-color: $code-background-color;
  border: 1px solid $light-gray;
  white-space: nowrap;
}

.youtube {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
