<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway%3A400%2C600%2C700%2C800%7CVollkorn%3A400%2C400italic%2C700%2C700italic&amp;ver=4.9.4" type="text/css" media="all">
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="google-site-verification" content="25HZCMZ1yt0Mwusf0ABR7Q8a6OyLP_OcSFLFo8XuFUg" />

  {% if page.title %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}

  {% if page.excerpt %}
    {% assign description = page.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once %}
  {% else %}
    {% assign description = site.description %}
  {% endif %}

  {% if page.background %}
    {% assign background = page.background %}
  {% else %}
    {% assign background = 'background' %}
  {% endif %}
  {% capture image %}{{ site.url }}/assets/images/{{ background }}.jpg{% endcapture %}

  <title>{{ title }}</title>
  <meta name="author" content="{{ site.author.name }}" >
  <meta name="description" content="{{ description }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  {% if page.title %}
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
  {% endif %}
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ image }}">
  <meta name="twitter:url" content="{{ page.url | prepend: site.url }}">

  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.locale }}">

  <link href="/assets/css/default.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" href="{{ site.author.rss }}">
</head>
