<head>
  <link href="https://fonts.googleapis.com/css?family=Asap:400,400i&subset=latin-ext" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="{{ site.description }}" >
  <meta name="author" content="{{ site.author.name }}" >
  <meta name="twitter:site" content="@{{ site.author.twitter }}" >
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="google-site-verification" content="25HZCMZ1yt0Mwusf0ABR7Q8a6OyLP_OcSFLFo8XuFUg" />

  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>

  <link href="/assets/css/default.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" href="{{ site.author.rss }}">
</head>
