<div class="navigation">
  <ul>
    <li><a href="//github.com/{{ site.author.github }}">GitHub</a></li>
    <li><a href="//twitter.com/{{ site.author.twitter }}">Twitter</a></li>
    <li><a href="//speakerdeck.com/{{ site.author.speakerdeck }}">Speaker Deck</a></li>
    <li><a href="http://www.linkedin.com/in/mindaugasmozuras">LinkedIn</a></li>
    <li><a href="{{ site.author.rss }}">RSS</a></li>
    <li><a href="https://plus.google.com/+MindaugasMoz%C5%ABras" rel="publisher"></a></li>
  <ul>
</div>
