<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mindaugas Mozūras" />
   <meta name="description" content="Coding Fearlessly - writings by Mindaugas Mozūras.">
   <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/CodingFearlessly">
   <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
   <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />

   <script type="text/javascript">var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24465850-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Coding Fearlessly</a>
        <ul class="nav pull-right">
          <li><a id="twitter" href="http://www.twitter.com/mmozuras"></a></li>
          <li><a id="github" href="https://github.com/mmozuras"></a></li>
          <li><a id="rss" href="http://feeds.feedburner.com/CodingFearlessly"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main" class="container">
    <section>
      <div class="row">
        {{ content }}
      </div>
    </section>
  </div>

</body>
</html>
