<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      {% include navigation.html %}
    </header>

    <div class="content">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
        </header>

        {{ content }}

        {% if page.hn or page.reddit %}
        <footer>
          {% if page.hn %}
            You can comment on this post over at <a href="{{ page.hn }}">Hacker News</a>
            {% if page.reddit %}
              or <a href="{{ page.reddit }}">Reddit</a>
            {% endif %}
          {% elsif page.reddit %}
            You can comment on this post over at <a href="{{ page.reddit }}">Reddit</a>
          {% endif %}
        </footer>
        {% endif %}
      </article>
    </div>

    {% include gauges.html %}
  </body>
</html>
